.footer {
  /* margin-block-start: 4rem; */
  block-size: 20rem;
  background: var(--black);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.footer__icons-container {
  display: flex;
  gap: 1.5rem;
  color: var(--white);
  font-size: 1.5rem;
}

.footer .icon-facebook, .icon-youtube {
  border: 1px solid white;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
}

.icon-facebook:hover, .icon-youtube:hover {
  background: #FF4C13;
  border: 1px solid #FF4C13;
}