.section {
  margin-block-start: 5rem;
  text-align: center;
}

.section h2 {
  font: var(--title2);
  font-size: 1.7rem;
  text-transform: uppercase;
}

.other-products-container {
  display: flex;
  overflow-x: auto;
  justify-content: flex-start;
  inline-size: 100%;
  gap: 1.5rem;
  text-align: center;
}

.other-products-container figcaption, p {
  font-size: 1rem;
  font-weight: 700;
}

.other-products-container figure {
  margin: 0;
}

.other-products-container figcaption {
  margin-block-start: 1.5rem;
  margin-block-end: 12px;
  white-space: nowrap;
}

.product-img {
  cursor: pointer;
}

.product-img.img1:hover {
  content: url("../assets/images/fresh2.png");
}

.product-img.img2:hover {
  content: url("../assets/images/black2.png");
}

.product-img.img3:hover {
  content: url("../assets/images/white2.png");
}


@media screen and (min-width: 768px) {
  .other-products-container {
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {

  .section {
    margin-block-start: 16rem;
  }

  .section h2 {
    font: var(--title2);
  }

  .other-products-container {
    overflow-x: hidden;
    gap: 2rem;
    justify-content: center;
    text-align: center;
  }

  ..other-products-container p {
    text-align: center;
  }

  .other-products-container img {
    width: 340px;
    height: 511px;
  }

  .other-products-container figcaption, p {
    font: var(--price);
  }
}

@media screen and (min-width: 1440px) {
  .other-products-container {
    gap: 3.5rem;
  }
}